/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Print/User Guide/ */

:root
{
	--Lightest: #FFFFFF;
	--FontFamily: Arial, Avenir, Myriad;
	--Dark: #000000;
	--Primary: #000000;
	--LogoImage: url('../Images/Modular_Logo.jpeg');
}

